	<!-- jQuery -->
	<script src="js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="js/jquery.waypoints.min.js"></script>
	<!-- Stellar Parallax -->
	<script src="js/jquery.stellar.min.js"></script>
	<!-- Counter -->
	<script src="js/jquery.countTo.js"></script>
	<!-- Magnific Popup -->
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script src="js/magnific-popup-options.js"></script>
	<!-- Map -->
	<script src="js/leaflet.js"></script>
	<script src="js/leaflet-map.js"></script>
	<!-- Main JavaScript -->
	<script src="js/main.js"></script>
	<!-- <script type='text/javascript' src='//d3js.org/d3.v3.min.js'></script>
    <script type='text/javascript' src='//d3js.org/topojson.v1.min.js'></script>
	<script src="js/planetaryjs.min.js"></script>
	<script src="js/map.js"></script> -->