.fh5co-person
{
    margin-bottom:4em;
}

#fh5co-home
{
    /* background-image: url(../images/ourstory.jpg) !important; */
    /* background-size: 138%; */
    /* background-repeat: no-repeat; */

position: fixed;
top:0;
height:120%;
    /* background: blue !important; */
}

#fh5co-home img
{
    height:3em;
    margin-top:3em;
    max-width: 80%;
}

#fh5co-home .gradient {
    opacity: 0.7;
}

#footer {
    padding-top: 3em;
}

.navbar-brand img
{
    height:120%;
    vertical-align: middle;
    display: none;
}

.navbar-fixed-top .navbar-brand img
{
    display: inherit;
}

.fh5co-person img
{
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

#footer img
{
    margin-top:30px;
    height: 50px;
}

.fh5co-service a
{
    color:silver;
}

.fh5co-text
{
    line-height: 1.2em;
}